<div class="admin-header centered-text">
    <h1>RCVD - Admin</h1>
</div>
<nav>
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/instructors">Instructors</a></li>
    </ul>
  </nav>