<footer class="site-footer">
  <div class="footer-container">
    <!-- Section 1: Logo + Contact + Social Media -->
<div class="footer-section">
  <a href="/" class="footer-logo">
    <img src="/images/logo.png" alt="RCVD Logo">
  </a>
  <p>Tel: +250 123 456 789</p>
  <p>Address: MINAGRI, Kacyiru, Kigali, Rwanda</p>
  <p>Email: info@rcvd.rw</p>

  <!-- Social Media -->
  <div class="footer-social">
    <a href="https://www.facebook.com/groups/564450833602131/" target="_blank" aria-label="Facebook">
      <img src="/images/icons/fb.png" alt="Facebook">
    </a>
    <a href="https://x.com/rwandavets1?lang=en" target="_blank" aria-label="X">
      <img src="/images/icons/x.png" alt="X">
    </a>
    <a href="https://www.youtube.com/watch?v=7600gcFtOZA&amp;t=25s" target="_blank" aria-label="YouTube">
      <img src="/images/icons/youtube.png" alt="YouTube">
    </a>
  </div>
</div>


    <!-- Section 2: Quick Links -->
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/payment">Payment</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li><a href="/faqs">FAQs</a></li>
        <li><a href="/terms">Terms & Conditions</a></li>
      </ul>
    </div>

    <!-- Section 3: About -->
    <div class="footer-section">
      <h4>About</h4>
      <ul>
        <li><a href="/mandate">RCVD Mandate</a></li>
        <li><a href="/board-members">Board Mmbers</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>

    <!-- Section 4: Support -->
    <div class="footer-section">
      <h4>Support</h4>
      <ul>
        <li><a href="/enquiries">Enquiries</a></li>
        <li><a href="/complaint">Compliant</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/visit">Visit RCVD</a></li>
      </ul>
    </div>

    <!-- Section 5: Account -->
    <div class="footer-section">
      <h4>Account</h4>
      <ul>
        <li><a href="/staff-portal">Staff Portal</a></li>
        <li><a href="/members-portal">Members Portal</a></li>
        <li><a href="/e-learning">E-learning</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 RCVD. All rights reserved.</p>
  </div>
</footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/68f774c4db3e5b194eb8a408/1j83a08i9';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->