<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RCVD - Admin</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/admin-dashboard.css">
</head>
<body>
  <%- include('partials/admin-header') %>

  <div class="dashboard-container">
    <h1>Create user</h1>
    <div>
      <div class="dashboard-actions">
        <a href="/admin-dashboard" class="btn-action">Users</a>
      </div>
        <% if (message) { %>
            <p class="<%= messageType %>"><%= message %></p>
        <% } %>

       <form action="/admin-create-user" method="POST">
        <input type="text" name="firstname" placeholder="First name" required><br>
        <input type="text" name="lastname" placeholder="Last name" required><br>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required>
        <select name="type" id="" required>
          <option value=""></option>
          <option value="Instructor">Instructor</option>
          <option value="Trainee">Trainee</option>
        </select>
        <button type="submit">Create User</button>
    </form>
    </div>
  </div>

  <%- include('partials/admin-footer') %>

  <script src="/js/menu.js"></script>
</body>
</html>
