<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RCVD - Home</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slide.css">
  <link rel="stylesheet" href="css/description.css">
 <style>
.mySlides {display:none;}
</style>
</head>
<body>
  <%- include('partials/header') %>

  <div class="slider">
    <div class="slide active" style="background-image: url('/images/slides/slide1.jpg');"></div>
    <div class="slide" style="background-image: url('/images/slides/slide2.jpg');"></div>
    <div class="slide" style="background-image: url('/images/slides/slide3.jpg');"></div>
    <div class="slide" style="background-image: url('/images/slides/slide4.jpg');"></div>
    <div class="slide" style="background-image: url('/images/slides/slide5.jpg');"></div>
  </div>

  <div class="description">
    <div class="description-title">
      <h1>Rwanda Council of Veterinary Doctors</h1>
      <img src="images/description.jpg" class="description-img" alt="">
    </div>
    <img src="images/services-title.jpg" class="description-img" alt="">
    <div class="description-details">
      <div><img src="images/services/img1.jpg" class="service-img" alt=""></div>
      <div><img src="images/services/img2.jpg" class="service-img" alt=""></div>
    </div>
    <div class="description-details">
      <div><img src="images/services/img3.jpg" class="service-img" alt=""></div>
      <div><img src="images/services/img4.png" class="service-img" alt=""></div>
    </div>
    <div class="description-details">
      <div><img src="images/services/img5.jpg" class="service-img" alt=""></div>
      <div><img src="images/services/img6.jpg" class="service-img" alt=""></div>
    </div>
    <div class="description-details">
      <div><img src="images/services/img7.jpg" class="service-img" alt=""></div>
      <div><img src="images/services/img8.jpg" class="service-img" alt=""></div>
    </div>
    <div class="description-details">
      <div><img src="images/services/img9.jpg" class="service-img" alt=""></div>
      <div><img src="images/services/img10.jpg" class="service-img" alt=""></div>
    </div>
  </div>


  <%- include('partials/footer') %>

  <script src="/js/menu.js"></script>
  <script src="/js/slider.js"></script>
</body>
</html>
