<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RCVD - Job Board</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <h1 class="centered-text">Job Board</h1>
  <p class="centered-text"><em>"Explore current job openings published by companies"</em></p>
  <p>
    There is no current opening jobs.
  </p>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
