<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <title>RCVD - Legal document</title>
</head>
<body>
  <%- include('partials/header') %>

  <div class="container">
    <h1>Legal document</h1>
    <p>There is no current legal document</p>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
