.flex-grid {
display: flex;
flex-wrap: wrap;
gap: 20px;
}


.flex-item {
flex: 1 1 calc(33.33% - 20px); /* 3 columns desktop/tablet */
background-color: #f1f1f1;
padding: 10px;
text-align: center;
box-sizing: border-box;
}


.flex-item iframe {
width: 100%;
height: 200px;
}


/* Mobile: 1 column */
@media (max-width: 600px) {
.flex-item {
flex: 1 1 100%;
}
}