
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.flex-item iframe {
  width: 100%;
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}